In [1]:
#import dependencies & setup
import pandas as pd
from pathlib import Path

#read csvs
school_path = Path("Resources/schools_complete.csv")
student_path = Path("Resources/students_complete.csv")

#assign csv info to dataframes
school_data_df = pd.read_csv(school_path)
student_data_df = pd.read_csv(student_path)

#merge dataframes into one
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([{
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": passing_math_percentage,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": overall_passing_rate,
}])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [63]:
school_data_complete.head()
# school_data_df.head()
# students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [74]:
# Use the code provided to select all of the school types
school_types = school_data_complete.groupby("school_name")["type"].first()

In [75]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("school_name")["Student ID"].count()

In [83]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].first()
per_school_capita = per_school_budget / per_school_counts

In [86]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [94]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.groupby("school_name")["math_score"] >= 70
# school_students_passing_math = students_passing_math
students_passing_math

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = 
school_students_passing_reading =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [87]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Capita": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
#     "% Passing Math": ,
#     "% Passing Reading": ,
#     "% Overall Passing": 
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Capita"] = per_school_summary["Per Student Capita"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Capita,Average Math Score,Average Reading Score
school_name,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000